
.formulario-compra{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    font-size:2vh;
    gap:1rem;
    margin-bottom:10rem;
}
h1{
    display:flex;
    justify-content: center;

}
.btnPagar{
   font-size:1vw;
   width:6vw;
   height:4vh;
   border-radius:10%;
   color:rgb(255,221,45);
   background-color:rgb(51,51,51);
}

input[type="text"],
input[type="email"]{
    border:thin solid #dedede;
    border-radius:0.25rem;
    padding:0.75rem;
    margin-bottom:1rem;
    outline:none;
    display:block;
    font-size:1rem;
    line-height: 1;
    background-color: transparent;
}