
a{
    text-decoration:none;

}
.dropdown{
    font-family:'Segoe UI';
    color:#464646 !important;
}

.banner{
    font-weight: 400;

    color:#eee;
    font-family: 'Segoe UI';
    font-size:16px;
    background-color:#464646;
    height: 7ch;
   position:sticky;
   margin-bottom:0;
   padding-bottom:0;
    
}
.banner-left{
    padding-left:2ch;
    position:absolute;
    margin-top:auto;
    margin-bottom:auto;
    text-align: left;
    display:block;
    top:20px;
}
.banner-right{
  position:absolute;
  right:30px;
  margin-top:auto;
  margin-bottom:auto;
    top:20px;
    text-align:right;
    display:block;
   padding-bottom:64px;
  
}

 .navBar-bottom{
     
     width: 80%;
     margin:2rem auto;
     display:flex;
     align-items: center;
     justify-content: space-between;
     border-bottom-style:solid;
 }

 .img-h1{
     display:flex;
     align-items: center;

 }

 .imagen{
     width: 6vh;
    margin-right:2ch; 
     
 }

 .barra-navegadora {
   
    overflow:hidden;
     margin:3rem;
     
     display:flex;
     align-items: center;
     width: 55%;
    justify-content:space-between; 
    }
.barra-navegadora a{
    margin-top:5rem;
    display:flex;
    justify-content:flex-start;
    margin:0.5rem;
    color:#464646;
    font-weight: 400;
    font-size:16px;
    text-decoration:none;
}

.barra-navegadora a:hover{
    color:navy;
}