
a{
    text-decoration:none;

}
.dropdown{
    font-family:'Segoe UI';
    color:#464646 !important;
}

.banner{
    font-weight: 500;

    color:#eee;
    font-family: 'Segoe UI';
    font-size:16px;
    background-color:#464646;
    height: 5vh;
   position:sticky;
   display:flex;
   justify-content:space-between;
   margin-bottom:0;
   align-items: center;
    

  
}
.barra-navegadora {
   
    overflow:hidden;
     margin:3rem;
     
     display:flex;
     align-items: center;
     width: 55%;
    justify-content:space-between; 
    }
.barra-navegadora a{
    margin-top:5rem;
    display:flex;
    justify-content:flex-start;
    margin:0.5rem;
    color:#464646;
    font-weight: 600;
    font-size:16px;
    text-decoration:none;
}


.barra-navegadora a:hover{
    
    font-size:18px;
    font-weight:700;
}
.computadoras-munoz{
    font-size:2vw;
}

 .navBar-bottom{
     
     width: 80%;
     margin:2rem auto;
     display:flex;
     align-items: center;
     justify-content: space-between;
     border-bottom-style:solid;
     height:8vh;
 }

 .img-h1{
     display:flex;
     align-items: center;

 }

 .imagen{
     width: 6vh;
    margin-right:2ch; 
     
 }

 
