
  .loading{
    display:flex;
    flex-direction:column;
    justify-content:center;

  }
  .cargando{
    font-size:36px;
    font-weight: bolder;
    text-shadow:.25rem .5rem .5rem rgb(150, 149, 149);
  }
  .card{
    
    background-color:rgb(241, 243, 201);
    border-radius:10%;
    display:flex;
    margin-left:auto;
    margin-right:auto;
    transition: all 0.3s ease-out;
    width:300px;
    min-width:150px;
    height:550px;
    
    margin:3rem;
    min-width:20%;
    
  }
  .card:hover{
    box-shadow:1rem 1rem 1rem 1rem #47400150;
    cursor:pointer;
  }

.card-img{
    background-color:white;
    opacity:1;
    height: 40%;
    border-style:hidden;
    border-radius:10%;
    object-fit:contain;
    object-position:50% 50%;
}

.card-title{
    height:4rem;
    font-weight: 700;
    font-size:larger;
    display:flex;
    justify-content:center;
    overflow-x:hidden;
}
.buttons{
    font-weight:700;
    display:flex;
    justify-content:space-evenly;
    height:content !important;
    
}

.boton-agregar{
     margin-top:1ch;
     display:flex;
     font-weight:700;
     margin-left:auto;
     margin-right:auto;
     justify-content:center;
}
.price{
    display:flex;
    justify-content:center;
    font-weight: 600;
}
.boton{
  height:5%;
  margin-bottom:0;
}