.errorPage{
    display:flex;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
    flex-direction:column;
    width:80%;
    align-items: center;
}
.errorcode{
    font-size:15vw;
    display:flex;
    margin-bottom:0;
    color:#464646;
    vertical-align: bottom;
}
.errorPage-bottom{
    width:100%;
    height:20%;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    font-weight:600;
    font-size:1.3vw;
    margin-top:0;
    color:white;
    background-color:#464646;
    margin-bottom:5vw !important;
}
.bottonHome{
    border-radius:10px;
    color:#464646;
    margin-bottom:3rem;
}