
.cardss{
    display: flex;
    flex-wrap:wrap;
    gap:2rem;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:15rem;
    }

.spinners{
    display:flex;
    justify-content:center;
    margin:10rem;
  }

  .cargando{
      display:flex;
      justify-content:center;
      align-items: center;
  }
  .titulo-destacados{
      font-family: sans-serif;
      display:flex !important;
      justify-content:flex-start !important;
      width:70%;
      margin-right:auto;
      margin-left:auto;
      margin-top:3rem;
      text-decoration:underline;
     text-decoration-color:rgb(254, 246, 89);
     margin-bottom:0;
     padding-bottom:0;

  }