
.cardss{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
}


.spinners{
    display:flex;
    justify-content:center;
    margin:10rem;
  }

  .cargando{
      display:flex;
      justify-content:center;
      align-items: center;
  }